[submodule "backend"]
	path = backend
	url = https://github.com/ratnov2/todo_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/ratnov2/todo_frontend.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/ratnov2/todo_gateway.git
